@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme'

// 建议安装并引入css拓展nib
@import '~nib/lib/nib/vendor'
@import '~nib/lib/nib/gradients'

// 覆盖样式变量
// 完整的变量列表可以查看 https://github.com/didi/mand-mobile/blob/master/components/_style/mixin/theme.styl
color-primary = #fc9153
